@import "tailwindcss";

:root {
  --background: #111218;
  --card: #1e212b;
  --primary: #623CEA;

  --error: #93032e;
  --success: #00a676;
  --border1: #545C78;
  --border2: #1a2237;
  --hover: #343c53;
  --t1: #fff;
  --t2: #9098B2;
}

@theme inline {
  --text-shadow-h: 2px 2px 0 #93032e; 
  --shadow-bs1: 5px 5px #000000;
  --color-background: var(--background);
  --color-card: var(--card);
  --color-primary: var(--primary);
  --color-border1: var(--border1);
  --color-border2: var(--border2);
  --color-error: var(--error);
  --color-success: var(--success);
  --color-hover: var(--hover);
  --color-t1: var(--t1);
  --color-t2: var(--t2);
  --font-font1: var(--font-pixel1);
  --font-font2: var(--font-pixel2);
}


body {
  background: var(--background);
  color: var(--t1);
  font-family: var(--font-pixel1) var(--font-pixel2), sans-serif;
}