@import "tailwindcss";

:root {
  --background: #f7f3ee;
  --foreground: #3139FB;
  --text-1: var(--background);
  --text-2: #1c1c19;
  --text-3: #444654;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-heading: var(--font-space);
  --font-p: var(--font-inter);
  --color-text-1: var(--text-1);
  --color-text-2: var(--text-2);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #3139FB;
    --foreground: #f7f3ee;
    --text-1: var(--background);
    --text-2: #1c1c19;
    --text-3: #444654;
  }
}

body {
  background: var(--background);
}
