@import "tailwindcss";

:root {
  --background: linear-gradient(to right, rgb(255, 228, 230), rgb(204, 251, 241));
  --card: #f7f3ee;
  --hover: #ffffffab;
  --text-1: #3139fb;
  --text-2: #1c1c19;
  --text-3: #444654;
  --text-4: #444654;
}

@theme inline {
  --color-background: var(--background);
  --color-card: var(--card);
  --color-border-1: var(--border-1);
  --color-border-2: var(--border-2);
  --color-hover: var(--hover);
  --color-text-1: var(--text-1);
  --color-text-2: var(--text-2);
  --color-text-3: var(--text-3);
  --color-text-4: var(--text-4);
  --font-heading: var(--font-space);
  --font-p: var(--font-inter);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: linear-gradient(to right, #0b1326, rgb(17, 24, 39), rgb(0, 0, 0));
    --card: #171f33;
    --border-1: #a4c9ff;
    --border-2: #1a2237;
    --hover: #343c53;
    --text-1: #a4c9ff;
    --text-2: #fff;
    --text-3: #c2c6d6;
  }
}

body {
  background: var(--background);
  color: var(--text-2);
  font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}